// Light Mode Farben
$background-color-light: #F1F0E9;
$text-color-light: #9AA6B2;
$text-color-dark-light: #BCCCDC;
$primary-color-light: #D9EAFD;
$secondary-color-light: #4589FF;

// Dark Mode Farben
$background-color-dark: #213555;
$text-color-dark: #F5EFE7;
$text-color-dark-mode: #3E5879;
$primary-color-dark: #D8C4B6;
$secondary-color-dark: #89BCD9;

// Standardfarben 
$background-color: $background-color-light;
$text-color: $text-color-light;
$text-color-dark: $text-color-dark-light;
$primary-color: $primary-color-light;
$secondary-color: $secondary-color-light;

// Light Mode (Standardwerte)
:root {
    --background-color: #F1F0E9;
    --text-color: #9AA6B2;
    --text-color-dark: #BCCCDC;
    --primary-color: #D9EAFD;
    --secondary-color: #4589FF;
}

// Dark Mode – wird dynamisch per Klasse `.dark-mode` umgeschaltet
.dark-mode {
    --background-color: #213555;
    --text-color: #F5EFE7;
    --text-color-dark: #3E5879;
    --primary-color: #D8C4B6;
    --secondary-color: #89BCD9;
}